.logo-y-boton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-y-boton .logo-itryo {
    width: 120px;
    height: 60px;
}

.logo-y-boton .boton-menu {
    width: 64px;
    height: 64px;
}

.logo-y-boton button {
    cursor: pointer;
    background-color: rgba(136, 155, 173, 0.205);
    border-style: none;
    border-radius: 13px;
    z-index: 2;
}

.menu {
  /* font-family: inherit; */
  top: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background: #111;
  opacity: 0.9;
}




