<div class="contenedor">
    <div class="contenido">
        <div class="logo-y-boton">
            <img class="logo-itryo" src="\assets\logo.png" alt="logo-img">
            <button (click)="abrirMenu()" class="button" id="button"></button>
        </div>
       
        <!-- Menú oculto -->
        <div *ngIf="modal" class="menu" id="menu">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="">Música</a>
            </li>
            <li>
              <a href="videos.html">Videos</a>
            </li>
            <li>
              <a href="galeria.html">Galería</a>
            </li>
            <li>
              <a href="">Conciertos</a>
            </li>
        </div>

        <br>
        <br>
        <app-home></app-home>
    </div>
</div>



