.encabezado {
    text-align: center;
}

.encabezado h1 {
    color: rgb(195, 219, 241);
    font-size: calc(1.375rem + 1.5vw);
}

.descripcion p {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 0rem 4rem 2rem 4rem;
    color: rgb(131 150 167);
}

.link-sencillo {
    text-align: center;
    display: flex;
    justify-content: center;
}

.link-sencillo a p {
    color: rgb(195, 219, 241);
    text-decoration: underline;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.portada-disco {
    display: flex;
    justify-content: center;
}

.portada-disco img {
  width: 45%;
}
