<div class="encabezado">
    <h1>ITRYO</h1>
</div>
<br>
<div class="descripcion">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Voluptate totam velit fugit minus nulla atque alias! Consectetur nobis ut dolorum.
        Similique omnis magnam libero, vel neque eum quis aliquid sequi.
        Similique omnis magnam libero, vel neque eum quis aliquid sequi.
        Similique omnis magnam libero, vel neque eum quis aliquid sequi.
    </p>
</div>

<div class="link-sencillo">
    <a target="_blank" href="https://www.youtube.com/watch?v=YCBDksvMjIQ&pp=ygUOaXRyeW8gY3JvbmlrYXM%3D"><p>Escuchar Sencillo</p></a>
</div>


<div class="portada-disco">
    <img src="\assets\cronicas.png" alt="portada-disco">
</div>


